<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ site_title|striptags }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      var $SCRIPT_ROOT = "";
    </script>
    <script type="text/javascript">
      $(function() {
        var submit_form = function(e) {
          $.getJSON($SCRIPT_ROOT + '/_search', {
            s: $('input[name=query]').val(),
          }, function(data) {
            $('#response').html(data);
            $('input[name=query]').focus().select();
          });
          return false;
        };
        $('input[name=query]').bind('keydown', function(e) {
          var keyCode = e.keyCode || e.which;
          switch (keyCode) {
            case 13:
              submit_form(e, "query");
              break;
          }
        });
      });
    </script>
    <style media="screen">
      body {
        font-size: 1.7em;
      }
      .container {
        padding-left: 40px;
        padding-right: 40px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>{{ site_title|safe }}</h1>
      <p>{{ site_subtitle|safe }}</p>
      <p style="text-align: right;"><a style="color: lightgray; font-size: 0.8em" href="https://github.com/jeroyang/cateye">Powered by Cateye</a></p>
      <div id="search">
        <div class="form-group has-feedback">
            <input type="text" class="form-control" id="inputbox" placeholder="Search" style="font-size: 1.2em; height:50px;"/>
            <span class="glyphicon glyphicon-search form-control-feedback" style="margin: 10px;"></span>
        </div>

        <div class="response" id="response">
          <!-- the response.html is inserted here-->
        </div>
      </div>
    </div>
    <script type="text/javascript">
     $('#inputbox').on('change', function(e) {
       document.title = $(this).val() + ' - {{ site_title|striptags }} ';
       $.get('/_search', {s: $(this).val()}, function(data) {
         $('#response').html(data);
       });
       var data = '?s=' + $(this).val();
       var href = window.location.protocol+'//'+window.location.hostname+(location.port ? ':'+window.location.port: '') + '/' + data;
       history.pushState('',  $(this).val() + ' - {{ site_title|striptags }} ', href);
     });
     $(document).on('touchstart', function() {
       documentClick = true;
     });
     $(document).on('touchmove', function() {
       documentClick = false;
     });
     $(document).on('touchend click', '#response .hint a', function(e) {
       e.stopPropagation();
       e.preventDefault();
       if (e.type == "click") documentClick = true;
       if (documentClick) {
         var query = $('#inputbox').val() + ' ' + $(this).text();
         $('#inputbox').val(query);
         $('#inputbox').trigger('change');
       }
     });

     $(document).on('touchend click', 'h4.code a', function(e) {
       e.stopPropagation();
       e.preventDefault();
       if (e.type == "click") documentClick = true;
       if (documentClick) {
         var query = $(this).text();
         $('#inputbox').val(query);
         $('#inputbox').trigger('change');
       }
     });

     $(document).ready(function() {
       query = $('#inputbox').val();
       if (query != '') {
         document.title = query + ' - {{ site_title|striptags }} ';
         $.get('/_search', {s: query}, function(data) {
           $('#response').html(data);
         });
       }
     });

     $('#loadingDiv')
       .hide()  // Hide it initially
       .ajaxStart(function() {
           $(this).show();
       })
       .ajaxStop(function() {
           $(this).hide();
       });
     window.onpopstate = function(event) {
       location.reload();
     }
   </script>
  </body>
</html>
